.book-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  .book {
    margin: 20px;
    .titreBook {
      font-size: 22px;
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center; /* align vertical */
    }

    .imageBook {
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center; /* align vertical */
    }

    .avisBook {
      .moyenneNote {
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
        font-weight: 600;
      }
      .ratingBook {
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center; /* align vertical */
      }
    }
    .linkBook {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .buttonBook {
      display: flex;
      justify-content: center;
    }

  }
  button {
    margin: 5px;
  }
}

.edit-book-container {

  .form-horizontal {
    text-align: center;
  }

  button {
    margin-right: 10px;
  }

}






