.friend-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  .friend {
    margin: 20px;

    .imageUser {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .linkUser {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .accept-button {
      margin-top: 15px;
      display: flex;
      justify-content: center;
    }
  }
}

.add-friend {

  .txt-add-friend {
    width: 250px;

  }

  button {
    margin-top: 10px;
  }

}

