.home-container {
 
  .container-header-step {
    display: flex;
  }

  .container-content-step {
    width: 100%;
    display: flex;
    .step {
      flex: 1;
      .step-image {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .step-txt {
        padding: 10px;
        font-weight: 700;
        font-size: 18px;
        
      }
    }
  }

  .container-actu {
    display: flex;
    width: 100%
  }


}