.container-connexion {
    .login-container {
        .error {
            color: red;
        }

        .form-content {
            margin-bottom: 25px;

        }

        button {
            float: none;
        }

        #linksignup {
            margin-top: 25px;
        }
    }

}

@media screen and (min-width: 768px) {
    .container-connexion {
        display: flex;
        justify-content: center;
        align-items: center;

        .login-container {
            width: 500px;
        }

        input[type=text] {
            width: 300px;
        }
        input[type=password] {
            width: 300px;
        }
    }
}

