.book-detail-container {
    .book-title {
      font-weight: 700;
    }
    .book-avis {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      
      .image-container {
          display: flex;
          justify-content: center;
          margin-right: 10px;
          .image-content {
              display: flex;
              align-items: center;
              height: 180px;
              .img {
                  max-width: 100%;
                  max-height: 100%;
              }
          }
      }
      .rating-container {
          display: flex;
          flex-direction: column;
      }
  }
}