  .book-title {	
    font-weight: 700;	
  }	
  .book-avis {	
    display: flex;	
    flex-direction: row;	
    .image-container {	
        display: flex;	
        justify-content: center;	
        .image-content {	
            display: flex;	
            align-items: center;	
            height: 180px;	
            .img {	
                max-width: 100%;	
                max-height: 100%;	
            }	
        }	
    }	
    .rating-container {	
        display: flex;	
        flex-direction: column;	
    }	
}