.form-inline #titre {
    width: 400px;
}

.container .header{
    height: 60px;
}

.index{
     height: 400px;
}

.contentIndex{
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 5px;
}

.date_avis{
    font-size: 12px;
}
.titre_book{
    height: 50px;
    text-transform: uppercase;
}

.content_book{
 height: 130px;
  vertical-align: middle;
  margin-top: 25px
}


.bloc_book{
    width: 150px;
    margin-top: 20px;
    font-size: 16px;

    font-weight: bold;
    overflow:hidden;
}

#main-content{
    margin-bottom: 45px;
}

.error{
    color: red;
}

.listeHeader{
    padding: 10px 15px;
}

.book{
    float: left;
    width: 400px;
}

.rateBook{
    float: left;
    width: 300px;
}


.guillemet{
    font-size: 25px;
}

.headerExcl{
    float:left;
}

.title{
    font-size: 30px;
    margin-top: 15px;
}


