.loan-container{
  display:flex;

  .loan{
    width: 300px;
    margin: 10px;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;

    .btn[disabled]{
      background: url("/assets/img/spinner.svg");
      background-repeat: no-repeat;
      background-position: center;
      color: black;
    }

  }


}
