.container-timeline{
    .header-timeline {
        display: flex;
        flex-direction: column;
    }
    .timeline {
        section {
            font-size: inherit !important;
        }
        i {
            margin: 5px;
            cursor: pointer;
        }
    }

   
}