.loan-container {
    width: 100%;
    display: flex;
    flex-direction: column;

    button {
        margin: 5px;
    }

    .loan-header {
        margin-top: 25px;
        font-size: 18px;
        font-weight: 700;
        display: flex;
    }
    .loan-content {
        display: flex;
        margin-top: 15px;
        .image-container {
            display: flex;
            justify-content: center;
            .image-content {
                display: flex;
                height: 180px;
                .img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        .loan-main {
            margin-left: 25px;
        }
    }
}