.editbook-container {
    .error-container {
        color: red
    }
    .main-content {
        display: flex;

        .content-image {
            .container-image {
                width: 100px;

                .content-image {
                    width: 100%;
                }
            }
        }

        .content-form {
            padding: 10px;

            button {
                float: none;
            }
        }
    }

    #overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.5);

        .spinner-bg {
            width: 100%;
            height: 100%;
            background: url("/webjars/app-react/1.0.0/img/spinner.svg") center center no-repeat;
        }
    }
}
