<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Livres entre amis - Inscription</title>
        <meta name="description" content="Livres entre amis partage emprunt de vos anciens livres entre amis" />
        <meta name="author" content="Sylvain Maestri" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webjars/app-react/1.0.0/css/common.css" />
    </head>
<body>
    <nav th:replace="header:: contentA" />
    <div class="container-adduser">
       <div class="container-form-adduser">
            <h2>Inscription</h2>
            <form th:action="@{/users/new}" th:object="${utilisateur}" method="POST" class="form-horizontal">
                <div class="form-error">
                    <ul th:if="${#fields.hasErrors('*')}">
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>

                <div class="form-group">
                    <label class="control-label">E-mail</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input type="text" th:field="*{email}" placeholder="Votre e-mail"  class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Nom</label>
                    <input type="text" th:field="*{lastName}" placeholder="Votre nom"  class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Pr&eacute;nom</label>
                    <input type="text" th:field="*{firstName}" placeholder="Votre prénom"  class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" th:field="*{password}" placeholder="Password"  class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Confirmer Password</label>
                    <input type="password" th:field="*{confirmPassword}" placeholder="Password"  class="form-control" />
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
        </div>
    </div>
    <a href="/">
        <button type="button" class="btn btn-primary">Retour</button>
    </a>
    <nav th:replace="footer:: contentA" />
</body>

</html>