<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Livres entre amis - Comment ça marche</title>
    <meta name="description" content="Livres entre amis partage emprunt de vos anciens livres entre amis" />
    <meta name="author" content="Sylvain Maestri" />

    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- CSS
      ================================================== -->
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/stylesheets/base.css" />
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/stylesheets/skeleton.css" />
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/stylesheets/layout.css" />

    <!-- prettyPhoto plugin -->
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/javascripts/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" />

    <!-- FlexSlider plugin -->
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/javascripts/flexslider/flexslider.css" type="text/css" media="screen" />


    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/webjars/app-react/1.0.0/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/webjars/app-react/1.0.0/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/webjars/app-react/1.0.0/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/webjars/app-react/1.0.0/images/apple-touch-icon-114x114.png" />

    <!-- Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />


    <!-- Modernizr -->
    <script type="text/javascript" src="/webjars/app-react/1.0.0/javascripts/modernizr.js"></script>

    <!--[if IE 7]>
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/stylesheets/ie7.css" />
    <![endif]-->

</head>
<body class="skin-red bkg-smoky">
<div id="app" class="wrap">
    <nav th:replace="header:: contentA" />
    <div class="container">
        <h2>Comment ça marche</h2>
        <div class="row">
            <div>
                <div class="text-center title-aide">1 - Inscription et enregistrement de mes livres</div>
                <div>Une fois inscrit, je déclare mes livre que je pourrai prêter à mes amis</div>

            </div>
            <div>
                <div class="text-center title-aide">2 - Déclarer des amis</div>
                <div>Je déclare mes amis en indiquant leur mail. Ils recevront un e-mail les invitant à accepter votre demande et rejoindre Livreentreamis.com!</div>

            </div>
            <div>
                <div class="text-center title-aide">3 - Emprunter un livre</div>
                <div>En parcourant les livres de mes amis, je peux faire une demande d'emprunt pource livre. Le prêteur envoit le livre ou vous convenez d'un RDV avec lui</div>

            </div>
            <div>
                <div class="text-center title-aide">4 - Renvoyer le livre</div>
                <div>Une fois la lecture terminée, je renvoie le livre à son propriétaire.</div>
            </div>
        </div>
    </div>
<nav th:replace="footer:: contentA" />
</div>
</body>
</html>