<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/common-head:: contentHead" />
<body style="font-family: 'Amaranth', sans-serif;">
    <div class="container">
        <nav th:replace="includes/header:: contentA" />
        <h2>Comment ça marche</h2>
        <div>
            <div>
                <div class="text-center title-aide">1 - Inscription et enregistrement de mes livres</div>
                <div>Une fois inscrit, je déclare mes livre que je pourrai prêter à mes amis</div>
            </div>
            <div>
                <div class="text-center title-aide">2 - Déclarer des amis</div>
                <div>Je déclare mes amis en indiquant leur mail. Ils recevront un e-mail les invitant à accepter votre demande et rejoindre Livreentreamis.com!</div>

            </div>
            <div>
                <div class="text-center title-aide">3 - Emprunter un livre</div>
                <div>En parcourant les livres de mes amis, je peux faire une demande d'emprunt pource livre. Le prêteur envoit le livre ou vous convenez d'un RDV avec lui</div>

            </div>
            <div>
                <div class="text-center title-aide">4 - Renvoyer le livre</div>
                <div>Une fois la lecture terminée, je renvoie le livre à son propriétaire.</div>
            </div>
        </div>
    </div>
    <nav th:replace="includes/footer:: contentA" />
</body>
</html>