<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Livres entre amis - Comment ça marche</title>
    <meta name="description" content="Livres entre amis partage emprunt de vos anciens livres entre amis" />
    <meta name="author" content="Sylvain Maestri" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
    <link rel="stylesheet" href="webjars/app-react/1.0.0/css/common.css" />
</head>
<body>
    <nav th:replace="header:: contentA" />
    <div>
        <h2>Comment ça marche</h2>
        <div>
            <div>
                <div class="text-center title-aide">1 - Inscription et enregistrement de mes livres</div>
                <div>Une fois inscrit, je déclare mes livre que je pourrai prêter à mes amis</div>
            </div>
            <div>
                <div class="text-center title-aide">2 - Déclarer des amis</div>
                <div>Je déclare mes amis en indiquant leur mail. Ils recevront un e-mail les invitant à accepter votre demande et rejoindre Livreentreamis.com!</div>

            </div>
            <div>
                <div class="text-center title-aide">3 - Emprunter un livre</div>
                <div>En parcourant les livres de mes amis, je peux faire une demande d'emprunt pource livre. Le prêteur envoit le livre ou vous convenez d'un RDV avec lui</div>

            </div>
            <div>
                <div class="text-center title-aide">4 - Renvoyer le livre</div>
                <div>Une fois la lecture terminée, je renvoie le livre à son propriétaire.</div>
            </div>
        </div>
    </div>
    <nav th:replace="footer:: contentA" />
</body>
</html>