<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Livres entre amis - Inscription</title>
        <meta name="description" content="Livres entre amis partage emprunt de vos anciens livres entre amis" />
        <meta name="author" content="Sylvain Maestri" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/webjars/app-react/1.0.0/css/common.css" />
    </head>
    <body>
        <div class="container">
            <div th:replace="header:: contentA" />
            <p>Vous allez recevoir un mail pour mettre à jour votre mot de passe</p>
            <nav th:replace="footer:: contentA" />
        </div>
    </body>
     
</html>