<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/common-head:: contentHead" />
<body style="font-family: 'Amaranth', sans-serif;">
    <div class="container">
        <nav th:replace="includes/header:: contentA" />
        <div class="container-faq">
            <h2>FAQ</h2>
            <div>
                Cette rubrique est en cours de construction
            </div>
        </div>
        <nav th:replace="includes/footer:: contentA" />
    </div>
</body>
</html>