<html xmlns:th="http://www.thymeleaf.org">
    <div class="container-footer" th:fragment="contentA">
        <footer id="colophon">
            <div id="footer-base">
                <div class="container">
                    <div class="eight columns">
                        &copy; Livres entre amis, 2017
                    </div>
                    <div class="eight columns far-edge">
                        <a href="/camarche">Comment ça marche?</a> | <a href="/contact">Contact</a> | <a href="/faq">FAQ</a> | <a href="/info">Informations légales</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</html>