<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/common-head:: contentHead" />
    <body style="font-family: 'Amaranth', sans-serif;">
        <div class="container">
            <div th:replace="includes/header:: contentA" />
            <h1>Réinitialiser le mot de passe</h1>
            <form th:action="@{/users/resetPwd}" th:object="${utilisateur}" method="POST">
                <div class="form-error">
                    <ul th:if="${#fields.hasErrors('*')}">
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>
                <label>Veuillez saisir votre e-mail afin de vous envoyer un lien pour mettre à jour votre mot de passe</label>
                <input type="text" th:field="*{email}" placeholder="Votre e-mail"/>
                <button name="validForm" type="submit" class="btn btn-primary">Valider</button>
            </form>
            <a href="/#/login">Retour</a>
            <nav th:replace="includes/footer:: contentA" />
        </div>
    </body>
</html>