<html xmlns:th="http://www.thymeleaf.org">
<div class="navbar navbar-default" th:fragment="contentA">
    <header id="header" class="container">
        <div id="header-inner"  class="sixteen columns over">
            <div id="masthead"  class="one-third column alpha">
                <h1 id="site-title"  class="remove-bottom">
                   <a href="/"><img src="/webjars/app-react/1.0.0/img/logo.png" /></a></h1>
            </div>
            <div class="container-search">
                <div class="top-header">
                    <div class="content-search">
                    </div>
                    <div class="menu-user">
                        <div class="dropdown">
                            <div class="top-menu">
                                <a href="/login">Connexion</a>
                                <a href="/users/new">Inscription</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>
</div>
</html>