<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Livres entre amis</title>
    <meta name="description" content="Livres entre amis partage emprunt de vos anciens livres entre amis" />
    <meta name="author" content="Sylvain Maestri" />

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/webjars/app-react/1.0.0/javascripts/agility.js"></script>


    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- CSS
      ================================================== -->
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/stylesheets/base.css" />
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/stylesheets/skeleton.css" />
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/stylesheets/layout.css" />

    <link rel="stylesheet" href="/webjars/app-react/1.0.0/stylesheets/bootstrap.min.css" />

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/webjars/app-react/1.0.0/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/webjars/app-react/1.0.0/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/webjars/app-react/1.0.0/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/webjars/app-react/1.0.0/images/apple-touch-icon-114x114.png" />

    <!-- Fonts
    ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />


    <!-- Modernizr -->
    <script type="text/javascript" src="/webjars/app-react/1.0.0/javascripts/modernizr.js"></script>

    <!--[if IE 7]>
    <link rel="stylesheet" href="/webjars/app-react/1.0.0/stylesheets/ie7.css" />
    <![endif]-->

</head>
<body class="skin-red bkg-smoky">
    <svg id="svg-source" style="display: none;" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <symbol id="icon-star-empty" viewBox="0 0 1024 1024">
                <title>star-empty</title>
                <path class="path1" d="M1024 397.050l-353.78-51.408-158.22-320.582-158.216 320.582-353.784 51.408 256 249.538-60.432 352.352 316.432-166.358 316.432 166.358-60.434-352.352 256.002-249.538zM512 753.498l-223.462 117.48 42.676-248.83-180.786-176.222 249.84-36.304 111.732-226.396 111.736 226.396 249.836 36.304-180.788 176.222 42.678 248.83-223.462-117.48z"></path>
            </symbol>
            <symbol id="icon-star-full" viewBox="0 0 1024 1024" fill="#d83f28">
                <title>star-full</title>
                <path class="path1" d="M1024 397.050l-353.78-51.408-158.22-320.582-158.216 320.582-353.784 51.408 256 249.538-60.432 352.352 316.432-166.358 316.432 166.358-60.434-352.352 256.002-249.538z"></path>
            </symbol>
        </defs>
    </svg>

    <input type="hidden" id="userId" th:value="${userId}" />
    <input type="hidden" id="categories" th:value="${categories}" />
    <div id="app" class="wrap" />
    <script src="/webjars/app-react/1.0.0/bundle.js"></script>
</body>
</html>