<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/common-head:: contentHead" />
<body style="font-family: 'Amaranth', sans-serif;">
    <div class="container">
        <nav th:replace="includes/header:: contentA" />
        <div class="container-info">
            <h2>INFO</h2>
            <div>
                Réalisé par Sylvain Maestri. http://effectivecoding.fr
            </div>
        </div>
        <nav th:replace="includes/footer:: contentA" />
    </div>
</body>

</html>