<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/common-head:: contentHead" />
<body style="font-family: 'Amaranth', sans-serif;">
<div class="container">
    <div th:replace="includes/header:: contentA" />
            <h1>Mettre à jour mon mot de passe</h1>
            <form th:action="@{/users/savePassword}" th:object="${utilisateur}" method="POST" onsubmit="return checkForm(this);">
                <div class="form-error">
                    <ul th:if="${#fields.hasErrors('*')}">
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" th:field="*{password}" placeholder="Password"  class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Confirmer Password</label>
                    <input type="password" th:field="*{confirmPassword}" placeholder="Password"  class="form-control" />
                </div>

                <div class="form-group">
                    <button name="validForm" type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
            <nav th:replace="includes/footer:: contentA" />
        </div>
    </body>
</html>