.form-error {
  color: red;
}

.title {
  font-weight: 600;
}

.main-title {
  font-size: 25px;
}

.main-item {
  margin-top: 25px;
  padding: 15px;
}

.container-header, .container-footer {
  display: flex;
  justify-content: space-between;
}
